/* a minimalist set of CSS resets */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  
  /* adjust typography defaults */
  body {
    margin: 2em;
    font-family: helvetica, arial, sans-serif;
    background-color: slategrey;
    color: white;
    background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
  }
  
  h1 {
    font-family: verdana, arial, sans-serif; 
    font-size: 2rem;
  }
  
p {
  font-style: italic;
}
  button {
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
  }
  
  #gameButtonArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .hidden {
    display:none;
  }
  
  #gameButtonArea > button {
    width:200px;
    height:200px;
    margin:2px;
  }
  
  
  #button1 {
      background: #ff66c0;
      border-radius: 100%;
  }
  
  #button1:active, #button1.lit {
      background: #e3528c;
  }
  
  
  #button2 {
      background: lightyellow;
      border-radius: 100%;
  }
  
  #button2:active, #button2.lit {
      background: yellow;
  }
  #button3 {
      background: lightblue;
      border-radius: 100%;
  }
  
  #button3:active, #button3.lit {
      background: blue;
  }
  
  #button4 {
      background: #ba9997;
      border-radius: 100%;
  }
  
  #button4:active, #button4.lit {
      background: #a46050;
  }
  
  #button5 {
      background: #ff9f00;
      border-radius: 100%;
  }
  
  #button5:active, #button5.lit {
      background: #ff6000;
  }
  
  #button6 {
      background: lightgreen;
      border-radius: 100%;
  }
  
  #button6:active, #button6.lit {
      background: green;
  }
  .gameAttributes {
    display: grid;
    grid-template: repeat(1, 50px) / 100px 50fr 50fr;
    column-gap: 100px;
    margin-bottom: 100px;
  }
  
  
  #timer{
    padding: 10px;
    font-size: 2rem;
    position: relative;
    bottom: 10px;
  }

  /* images and videos max out at full width */
  img,
  video {
    height: auto;
    max-width: 100%;
  }